packages:
  dnf:
    git: []
    gcc: []
    python3-devel: []
    postgresql15-devel: []
    tzdata: []
    libpq-devel: []

commands:
  01_upgrade_pip:
    command: |
      sudo python3 -m ensurepip --upgrade
      sudo python3 -m pip install --upgrade pip setuptools wheel
      sudo ln -sf /usr/local/bin/pip /usr/bin/pip

  02_install_requirements:
    command: "pip install -r requirements.txt"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  03_permissions:
    command: "mkdir -p /var/app/current/staticfiles && chmod -R 755 /var/app/current/staticfiles"

files:
  "/etc/httpd/conf.d/static.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Alias /static/ /var/app/current/staticfiles/
      <Directory /var/app/current/staticfiles>
          Require all granted
      </Directory>
