packages:
  dnf:
    git: []
    gcc: []
    python3-devel: []
    postgresql15-devel: []
    tzdata: []
    libpq-devel: []

commands:
  01_pip_upgrade:
    command: "python3 -m pip install --upgrade pip setuptools wheel || true"

  02_install_requirements:
    command: "pip install -r requirements.txt"
  
  03_chmod_static:
    command: "mkdir -p /var/app/current/staticfiles && chmod -R 755 /var/app/current/staticfiles"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

files:
  "/etc/httpd/conf.d/static.conf":
    mode: "0644"
    owner: root
    group: root
    content: |
      Alias /static/ /var/app/current/staticfiles/
      <Directory /var/app/current/staticfiles>
          Require all granted
      </Directory>
