container_commands:
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

files:
  "/etc/httpd/conf.d/static.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      Alias /static/ /var/app/current/static/
      <Directory /var/app/current/static>
          Require all granted
      </Directory>
