packages:
  yum:
    git: []
    gcc: []
    python3-devel: []
    postgresql15: []
    tzdata: []
    libpq-devel: []

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

  03_permissions:
    command: "mkdir -p /var/app/current/staticfiles && chmod -R 755 /var/app/current/staticfiles"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: jeceProject.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH

files:
  "/etc/httpd/conf.d/static.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Alias /static/ /var/app/current/staticfiles/
      <Directory /var/app/current/staticfiles>
          Require all granted
      </Directory>